* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}


@font-face {
  font-family: 'mifont';
  src: url(/fonts/Avigea.ttf)
}


@font-face {
  font-family: 'mifont2';
  src: url(/fonts/Coolvetica.otf);
}
@font-face {
  font-family: 'mifonty';
  src: url(/fonts/Plane\ Crash.ttf);
}

body {
  background: #eeeeee;

}

/* --------------menu--------------- */

.menu {
  padding-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu img {
  border-radius: 50%;
  width: 5.5rem;
  display: none;
}

.menu nav ul li {
  padding: 0px;
  list-style: none;
  margin: 0rem 1rem;
}

.menu ul a {
  text-decoration: none;
  color: #000000;
}

.menu nav ul {
  display: flex;
}

header h1 {
  color: #ffffff;
  font-family: 'mifont';
  text-shadow: 5px 5px 10px #41414196;
}

/* -----------baner------------ */
.container{
  height: 90vh;
   background: 
    linear-gradient(rgba(0, 0, 0, 0.704), rgba(0, 0, 0, 0.704)), 
    url(/img/images.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0rem 0rem 5rem 0rem;
}

.banner {
  text-align: center;
}

.sub { 
  padding: 8rem auto 1rem;
  width: 60%;
}

.sub span {
  color: #fff6f6;
  font-family: 'mifonty';
  
}

h2 {
  text-align: center;
  font-size: 3rem;
  color:#f3bc07;
  font-family: 'mifonty';
  
}

.inf p {
  margin: auto;
  text-align: center;
  color: #ffffffc0;
   
} 

main button {
  box-shadow: 5px 5px 10px #41414196;
  margin: 3rem 0rem;
  font-size: 120%;
  padding: 0.5rem 0.8rem;
  border-radius: 12px;
  border-color: #00000000;
  background: #f30707;
  color:#ffffff;
  font-weight: 500;
}

.banner .sub .fot_w {
  display: flex;
  align-content: center;
  gap: 1rem;
  filter: invert(1);
}



/* --------------Nosotros---------------------- */

.Nosotros {
  margin: 5rem 0rem 6rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.Nosotros p {
  font-size: 120%;
}
.barralat {
  height: 50vh;
  width: 4rem;
  margin: 2rem;
  background: #f3bc07;
  border-radius: 3px;
}

.nos1 {
  display: flex;
  align-items: center;
  width: 60%;
  padding: 1rem;
}

.nos1 h3 {
  text-shadow: 5px 5px 10px #0000003a;
  color: #d13b3b;
  font-size: 190%;
  margin: 1rem 0rem;
font-family: 'mifonty';
}

.nos img {
  width: 24rem;
  border-radius: 50%;
}

/* -----------------trans--------------------------- */

.trans {
  width: 100%;
  height: 30vh;
  background: linear-gradient(#efefef, #060606 50%);
}

.trans1 {
  width: 100%;
  height: 32vh;
  background: linear-gradient(#060606 60%, #efefef);
}
/* -----------------------menu---------------------- */

.menuu {
  /* background: #f3bc07; */
  background: #06060600;
  color:   #d13b3b;
  padding: 1rem 0rem 2rem 0rem ;
}

.menuu .info_menu {
  text-align: center;
  margin: auto;
  width: 60%;
}

.info_menu p {
  margin: 2rem auto;
}

h3 {
  text-shadow: 5px 5px 10px #ffffff4b;
  font-size: 230%;
  color: #000000;
  font-family: 'mifont2';
}

.menulet h4 {
  font-size: 170%;
 font-family: 'mifonty';
  color:  #000000bd;
  padding: 1.8rem; 
  background: #fddc4f;
  border-radius: 1.5rem;
  text-shadow: 6px 6px 10px #0000002b;
}

.menulet ul {
  list-style: none;
}

.menulet div {
  margin: 2rem 0rem;
}
.menulet ul li {
  margin: 1rem;
}
.hola {
  display: flex;
  justify-content: center;
  gap: 6rem;
  align-items: center;
  flex-wrap: wrap;
}
 
.meni_1 {
  display: flex;
  align-items: center;
}

.meni_2 {
  width: 60%;
  display: flex;
  align-items: center;
  /* background: #d13b3b;
  padding: .5rem;
  border-radius: 1.5rem; */

}

.meni_2 .barralat {
  height: 40vh;
  width: 4rem;
  background: #d13b3b;
}

.salsas .barralat {
  width: 2rem;
  background: #d13b3b;
}

.paBotanear li {
  text-align: right;
}

.hamburguesas li {
  text-align: right;
}
.lonuevo li {
  text-align: right;
}

.meni_2 p {
  font-size: 100%;
}

.meni_2 span {
  font-size: 150%;
  font-weight: 700;
  margin: 1rem 0rem;
}

/* ----------------galeria------------------ */
.galeria h3{
  text-align: center;
  margin: 10rem 0rem 4rem;
  font-family: 'mifonty';
  color: #fddc4f;
}

.galeria .gall {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}

.gall img {
  width: 20rem;
  border-radius: 1.5rem;
} 

/* --------------------Promociones--------------------------------- */

.promociones {
  margin-top: 12rem;
}
.info_tarj {
  width: 40%;
  text-align: center;
  font-size: 130%;
  font-weight: 600;
}
.tarj_glob {
  box-shadow: 5px 5px 10px #0000004b;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  background-color: #fffffff6;
  padding: 1rem;
  margin: 3rem auto;
  border-radius: 12px;
  width: 80%;
  border-color: #000000 5px;
}

.promociones h4 {
  text-align: center;
  font-size: 240%;
  font-family: 'mifonty';
  color: #d13b3b;
  text-shadow: 5px 5px 10px #0000002a;
}

.promociones img {
  width: 19rem;
  /* border-radius: 50%; */
}

.info_tarj span {
  color: #d13b3b;
  font-weight: 750;
  font-size: 190%;
 
}

.tarj_glob .barralat {
  width: 1.5rem;
  background: #f3bc07;
  border-radius: 8px;
  background-image: linear-gradient(to right, #e76a00 20%, #e76a00 100%);
}

.tarj_glob h5 {
  font-family: 'mifont2';
  font-size: 170%;
  color: #d13b3b;
  margin-bottom: 2rem;
  font-weight: 800;
}

/* ---------------------Locacion------------------- */

.horario {
  text-align: center;
  margin: 6rem 5rem;
  /* background: #f3bc07; */
  border:6px solid #f3bc07;
  border-radius: 1.5rem;
  
  padding: 6rem 0rem ;
}

.horario h4 {
  font-size: 230%;
  font-family: 'mifont2';
  color: #d13b3b;
  text-shadow: 5px 5px 10px #0000004b;
}
.horario .lo {
  width: 70%;
  margin: 2rem auto 4rem;
}

.junt_3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  flex-wrap: wrap;
}

.junt_3 div {
  width: 20rem;
}

.junt_3 h5 {
  text-shadow: 5px 5px 10px #0000004b;
  font-size: 230%;
  font-family: 'mifont2';
  color: #f30707;
}



.junt_3 p {
  font-size: 120%;
}

/* --------------footer---------------------- */

footer {
  text-align: center;
  margin: 8rem 0rem 0rem;
  /* background: #f30707;  rojo*/
  background: #f3bc07;
  padding-top: 2rem;
  color: #000000;
}

.fot {
  display: flex;
  gap: 4rem;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.horario h5 {
  color:#d13b3b ;
  font-family: 'mifont2';
 
}

footer h4 {
  font-size: 130%;
  font-family: 'mifont';
}

.fot_ {
  width: 30rem;
  margin: 2rem 0rem;
}

footer img {
  width: 36px;
  margin: 0rem 1rem;
  /* filter: invert(); */
}
.fot_w {
  display: flex;
  justify-content: center;
}

.ok {
  padding: 1rem 0rem;
  font-size: 1.4rem;
  font-family: 'mifont2';
}

/* ----------------media queries------------------ */

@media only screen and (max-width: 760px) {
  .sub {
    margin: 8rem auto 1rem;
    width: 90%;
  }

  .Nosotros .barralat {
    background: #f3bc07;
    width: 100%;
    height: 3vh;
    margin: 0rem;
  }
  .nos1 {
    display: inline-block;
  }
  .Nosotros {
    text-align: center;
  }

  .menuu .info_menu {
    width: 80%;
  }

  /* -------------------menu------------------- */

  .hola {
    gap: 0rem;
    margin: 4rem 0rem;
  }

  .hola .barralat {
    display: none;
    background: #f3bc07;
  }
  .hola nav ul li {
    text-align: left;
  }

  .meni_1 {
    display: block;
    width: 80%;
    text-align: center;
  }

  .menulet h4 {
    font-size: 160%;
  }

  .dos {
    display: flex;
    flex-direction: column-reverse;
  }

  .meni_1 h4 {
    margin: 1rem 0rem 3rem;
  }

  .meni_2 {
    width: 88%;
    display: flex;
    align-items: center;
  }

  .menuu .info_menu {
    margin-bottom: 14rem;
  }

  .menulet div {
    margin: 0rem 0rem;
  }

  .uno {
    height: 3vh;
    width: 100%;
    background: #fddd4f00;
    border-radius: 3px;
  }

  .menulet div {
    margin: 1rem 0rem;
  }

  .tarj_glob {
    display: block;
    text-align: center;
    padding: 1rem;
    margin: 3rem auto;
  }
  .tarj_glob .barralat {
    margin: 1rem 0rem 2rem;
    width: 100%;
    height: 3vh;
    background: #ffc609;
  }
  .info_tarj {
    margin: auto;
    width: 60%;
  }

  .tarj_glob img {
    width: 13rem;
    margin: 1rem 0rem; 
  }
.menuu .info_menu h3 {
 font-size: 5rem;
}

.horario {
  margin: 6rem 2rem;
 
}


}

@media only screen and (max-width: 600px) {

.menuu .info_menu h3 {
 font-size: 5rem;
}

  .Nosotros .nos1 {
    width: 90%;
  }
  .Nosotros p {
    font-size: 100%;
  }
  .horario .lo {
    width: 80%;
    margin: 2rem auto 4rem;
  }
  .info_tarj {
    font-size: 100%;
    width: 90%;
  }
  .menu nav {
    display: none;
  }

  .menu img {
    display: inline;
  
    box-shadow: 5px 5px 10px #0000004b;
  }

  .menu {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }

  h2 {
    text-align: center;
    font-size: 2rem;
  }

  .sub {
    margin: 5rem auto 1rem;
  }

  .fot { 
    gap: 0rem;
    margin: 2rem 1rem;
  }
  .galeria .gall {
  width: 95%;
}

.galeria h3{
 font-size: 2rem;
}

.gall img {
  width: 9rem;
  
} 

}

@media only screen and (max-width: 500px) {
.menuu .info_menu h3 {
 font-size: 5rem;
}

  h2 {
    font-size: 2rem;
  }
  header h1 {
  
    font-size: 160%;
  }
  .menu img {
    width: 4rem;
  }
  .hola nav ul li {
    font-size: 90%;
  }
  .meni_2 {
    width: 95%;
  }



}

@media only screen and (max-width: 350px) {
.menuu .info_menu h3 {
 font-size: 5rem;
}

  h2 {
    font-size: 1.6rem;
  }
  .inf p {
    font-size: 90%;
  }


}
